
// Color Schemas

$theme-ffffff:      #ffffff;
$theme-0fbbb9:      #0fbbb9;
$theme-0b0202:      #0b0202;
$theme-202020:      #202020;
$theme-b1abab:      #b1abab;
$theme-f2f2f2:      #f2f2f2;
$theme-062d2d:      #062d2d;

